In [3]:
import pandas as pd 

data=pd.read_csv("../data/france_travail.csv")
df=pd.DataFrame(data)

In [5]:
df.head(20)

,source,offer_id,url,title,company,location,published_date,contract_type,salary,query,description
0,france-travail-api,201TJVJ,https://candidat.francetravail.fr/offres/reche...,Data scientist (H/F),NaN,51 - EPERNAY,2025-12-19T15:58:20.901Z,CDI,Mensuel de 35000.0 Euros à 50000.0 Euros sur 1...,data scientist,Missions:\nDéfinir des stratégies de sélection...
1,france-travail-api,201TJTY,https://candidat.francetravail.fr/offres/reche...,Data Scientist (H/F),LIDL,92 - CHATENAY MALABRY,2025-12-19T15:57:54.169Z,CDI,Mensuel de 3371.0 Euros à 3372.0 Euros sur 13....,data scientist,"Introduction\n\nTravailler chez Lidl, c'est bi..."
2,france-travail-api,201SKCC,https://candidat.francetravail.fr/offres/reche...,Ingénieur / Ingénieure data scientist (H/F),CONSORT FRANCE,75 - Paris (Dept.),2025-12-18T16:45:40.979Z,CDI,Annuel de 55000.0 Euros à 60000.0 Euros sur 12...,data scientist,Ingénieur MLOps H/F\n\nC'est votre mission\n\n...
3,france-travail-api,201RYPX,https://candidat.francetravail.fr/offres/reche...,Data scientist / pharmaco-épidémiologiste (H/F),NaN,75 - PARIS,2025-12-18T11:48:59.069Z,CDD - 12 Mois,selon profil,data scientist,Mission générale :\nLe data scientist collabor...
4,france-travail-api,201PLPJ,https://candidat.francetravail.fr/offres/reche...,DATA SCIENTIST JUNIOR POUR PROJET DE RECHERCHE...,CENTRE HOSPITALIER SAINTE ANNE,75 - PARIS 14,2025-12-16T11:25:13.900Z,CDD - 12 Mois,Mensuel de 2305.0 Euros à 3452.0 Euros sur 12....,data scientist,Nous recherchons un(e) Data Scientist junior p...
5,france-travail-api,201NQYN,https://candidat.francetravail.fr/offres/reche...,Data Scientist H/F (H/F),RCA REALISATIONS POUR LA COMPTABILITE ET,44 - Saint-Herblain,2025-12-15T15:39:51.924Z,CDI,selon profil,data scientist,Description de l'entreprise\n\nEditeur de logi...
6,france-travail-api,201NJZC,https://candidat.francetravail.fr/offres/reche...,Explainable AI for molecules-Data Scientist (H/F),SANOFI WINTHROP INDUSTRIE,94 - VITRY SUR SEINE,2025-12-15T13:11:44.341Z,CDI,prime,data scientist,À propos du poste\nLe poste consiste à devenir...
7,france-travail-api,201LQLN,https://candidat.francetravail.fr/offres/reche...,Data scientist (H/F),CELANEO IT,75 - PARIS 01,2025-12-11T17:37:11.267Z,CDI,Mensuel de 3166.0 Euros sur 12.0 mois,data scientist,Recherche homme ou femme pour le poste demandé
8,france-travail-api,201HHQC,https://candidat.francetravail.fr/offres/reche...,Data scientist (H/F),CREDIT AGRICOLE CORPORATE AND INVESTMENT,92 - MONTROUGE,2025-12-08T16:33:28.405Z,CDI,Selon profil et en cohérence avec les pratique...,data scientist,Rattaché.e au pôle du Chief Of Staff de la Dir...
9,france-travail-api,201CQNX,https://candidat.francetravail.fr/offres/reche...,Ingénieur.e Data Scientist & IA (H/F),NaN,92 - COURBEVOIE,2025-12-03T15:33:02.846Z,CDD - 6 Mois,Selon profil,data scientist,"Au sein de l'équipe Global Data, chargée d'exp..."
10,france-travail-api,200XSYD,https://candidat.francetravail.fr/offres/reche...,Ingénieur / Ingénieure data scientist (H/F),SOCIETE INDUSTRIELLE LIMOUSINE D'APPLICA,19 - ST VIANCE,2025-11-28T14:02:17.449Z,CDD - 18 Mois,Selon le profil et l'expérience,data scientist,"Silab source, développe, produit et commercial..."
11,france-travail-api,200VWFL,https://candidat.francetravail.fr/offres/reche...,DATA SCIENTIST SPECIALISE EN IA AGENTIQUE (H/F),FMI FLORIAN MANTIONE INSTITUT,06 - Alpes-Maritimes,2025-11-26T16:44:42.717Z,CDI,à négocier,data scientist,L'entreprise : \n\nNotre client est un grand g...
12,france-travail-api,201PTJX,https://candidat.francetravail.fr/offres/reche...,Ingénieur Data Science (F/H) (H/F),NaN,78 - VIROFLAY,2025-12-16T14:54:52.306Z,CDI,Mensuel de 3200.0 Euros sur 12.0 mois,data scientist,"Au sein du Data Office, la cellule Data Scienc..."
13,france-travail-api,201KFYF,https://candidat.francetravail.fr/offres/reche...,Expert Etudes et Marketing effectiveness F/H,JCDECAUX FRANCE,92 - NEUILLY SUR SEINE,2025-12-10T12:02:39.944Z,CDI,Annuel de 40000.00 Euros à 60000.00 Euros sur ...,data scientist,Le poste est basé au sein de la Direction Data...
14,france-travail-api,201SSQM,https://candidat.francetravail.fr/offres/reche...,Chargé de traitement des données / Référent UN...,SORBONNE UNIVERSITE,75 - Paris 12e Arrondissement,2025-12-19T09:59:53.687Z,CDD - 12 Mois,A partir de 2174 euros brut mensuel,data scientist,La faculté de santé Sorbonne Université assure...
15,france-travail-api,6979425,https://candidat.francetravail.fr/offres/reche...,Data Scientist Expérimenté H/F,EY,75 - Paris,2025-12-23T04:53:08.000Z,CDI,NaN,data scientist,"Au sein de Technology Consulting, Data & Analy..."
16,france-travail-api,6963770,https://candidat.francetravail.fr/offres/reche...,Datascientist projet GEODE (H/F),UNIVERSITE PARIS 8,93 - Aubervilliers,2025-12-23T02:31:40.000Z,CDD - 12 Mois,NaN,data scientist,RESPONSABILITÉS : \n\nIl rassemble des cherche...
17,france-travail-api,6962315,https://candidat.francetravail.fr/offres/reche...,Data Scientist H/F,BS DIGITAL,64 - Pau,2025-12-23T02:31:27.000Z,CDI,NaN,data scientist,RESPONSABILITÉS : \n\nEn tant que Data Scienti...
18,france-travail-api,6932899,https://candidat.francetravail.fr/offres/reche...,Data Scientist H/F,Groupama Loire Bretagne,35 - Rennes,2025-12-22T17:43:40.000Z,CDI,NaN,data scientist,POSTE : Data Scientist H/F\nDESCRIPTION : Vene...
19,france-travail-api,6906394,https://candidat.francetravail.fr/offres/reche...,CHARGÉ(E) D'ÉTUDES ÉCONOMIQUES / DATA SCIENTIS...,NaN,75 - Paris,2025-12-21T03:32:29.000Z,CDD - 36 Mois,NaN,data scientist,Référence CSP: 2025-2139195 \n Au sein du pôle...

In [6]:
df.describe()

,source,offer_id,url,title,company,location,published_date,contract_type,salary,query,description
count,1079,1079,1079,1079,744,1079,1079,1079,568,1079,1079
unique,1,1079,1079,862,466,466,1030,39,419,25,1044
top,france-travail-api,2641613,https://candidat.francetravail.fr/offres/reche...,Data scientist (H/F),Forums Talents Handicap,75 - Paris,2025-12-04T04:30:41.000Z,CDI,De à EUR par an,data scientist,Cette annonce est une offre pour créer votre p...
freq,1079,1,1,17,30,87,6,831,13,150,7

In [8]:
df.tail()

,source,offer_id,url,title,company,location,published_date,contract_type,salary,query,description
1074,france-travail-api,2937063,https://candidat.francetravail.fr/offres/reche...,Lead Développeur Data (Spark / Scala) - Grande...,Externatic,92 - Puteaux,2025-09-26T23:00:54.000Z,CDI,Annuel de 60000.0 Euros à 67000.0 Euros,spark,L'entreprise accompagnée et les missions:\nL'e...
1075,france-travail-api,5084499,https://candidat.francetravail.fr/offres/reche...,Data Engineer PySpark - Data Factory - Service...,NaN,75 - Paris 1er Arrondissement,2025-11-11T04:30:42.000Z,CDI,NaN,pyspark,\n Description de l'entrepriseDescr...
1076,france-travail-api,5084011,https://candidat.francetravail.fr/offres/reche...,Data Engineer PySpark - Data Factory - Service...,Forums Talents Handicap,75 - Paris 1er Arrondissement,2025-11-11T04:01:07.000Z,CDI,NaN,pyspark,Description de l'entrepriseDescription de l'en...
1077,france-travail-api,4513094,https://candidat.francetravail.fr/offres/reche...,Data Engineer GCP / Airflow / dbt (H/F),NaN,75 - Paris,2025-10-27T21:56:48.000Z,CDI,NaN,airflow,"Data Engineer GCP - Spark, Airflow, dbt/Kedro ..."
1078,france-travail-api,2641613,https://candidat.francetravail.fr/offres/reche...,Concepteur/Développeur/Testeur DBT-ASAP (H/F),Twenty One Talents,59 - Mons-en-Barœul,2025-09-19T23:00:43.000Z,CDI,Annuel de 35000.0 Euros à 45000.0 Euros,dbt,Description:\nNous recherchons un(e) Concepteu...